@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    background: linear-gradient(0deg, #212433 16%, #20212b);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Base styles for larger screens (more than 1280px) */
.BgImage {
  background: linear-gradient(
      180deg,
      rgba(33, 36, 51, 0.1) 30%,
      rgba(32, 33, 43, 1) 95%
    ),
    url('./assets/heroBackground5.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  height: 100vh;
  min-height: 500px;
}

/* Styles for screens with a maximum width of 1280px */
@media screen and (max-width: 780px) {
  .BgImage {
    background: linear-gradient(
        180deg,
        rgba(33, 36, 51, 0.1) 30%,
        rgba(32, 33, 43, 1) 80%
      ),
      url('./assets/proj.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(570px + 10vw);
  }
}

/* Additional styles for screens with a maximum width of 500px */
@media screen and (max-width: 500px) {
  .BgImage {
    max-height: 570px;
    background-size: cover;
  }
}

.contact_bg {
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      360deg,
      rgba(33, 36, 51, 0.5) 50%,
      rgba(32, 33, 43, 1) 100%
    ),
    url('./assets//4.png');
  background-position: center;
  background-size: auto;
}
